body {
    font-family: Arial, Helvetica, sans-serif;
    color: #efefef;
    height: 100%;
    width: 100%;

}

.h1 {
    font-family: Papyrus, fantasy;
    font-size: 75px;
    font-style: normal;
    font-variant: normal;
    font-weight: 1000;
    line-height: 80px;
    animation: zoom-in-zoom-out 5s forwards;
}

.h2 {
    font-family: Papyrus, fantasy;
    font-size: 24px;
    font-style: normal;
    font-variant: normal;
    font-weight: 200;
    line-height: 21.4px;
    animation: zoom-in-zoom-out 5s forwards;
}

@keyframes zoom-in-zoom-out {
    0% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(1.5, 1.5);
    }

    100% {
        transform: scale(1, 1);
    }
}

.btn {
    border: none;
    text-align: center;
    cursor: pointer;
    padding: 25px 80px;
    margin: 25px 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    background-color: rgb(38, 38, 38);
    border: solid 1px transparent;
    border-radius: 10px;
    transition-duration: 0.4s;
}

button {
    top: 50%;
    border: none;
    appearance: none;
    outline: none;
    display: inline-block;
    font-size: 1.5em;
    cursor: pointer;
    text-decoration: none;
    padding: 15px 50px 15px 50px;
    border-radius: 50px;
    color: #ffffff;
    background-color: #2aba8f;
    border: 2px solid #94ec19;
    animation: rotate 5s forwards;


}

@keyframes rotate {
    0% {
        transform: rotate(-135deg)
    }

    100% {
        transform: rotate(0deg)
    }
}

button {
    transition-duration: 0.4s;
}

button:hover {
    font-size: 1.6em;
    background-color: #7bc405;
}

.screen {
    padding: 20px;
    position: fixed;
    top: 0%;
    left: 0%;
    margin-top: 0px;
    margin-left: 0px;
    height: 100%;
    width: 100%;
    text-align: center;
    animation-name: example;
    animation-duration: 7s;
    animation-fill-mode: forwards;


}

@keyframes example {

    from {
        top: -50px;
        background-image: url('./scene/startMenu.jpg');
    }

    to {
        top: 0px;

    }
}
.options {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    color: #ffffff;
        background-color: #2aba8f;
        border: 2px solid #94ec19;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align: center;
}

.options a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #94ec19;
    display: block;
    transition: 0.3s;
}

.options a:hover {
    color: #f1f1f1;
}

.options .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .options {
        padding-top: 15px;
    }

    .options a {
        font-size: 18px;
    }
}